body {
  font-size: 18px;
}

.contacts {
  font-size: 1.2em;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

 .foto {
  border-radius: 50%;
}

.row {
  border-bottom: 1px solid #E1E1E1;
}
